* {
  padding: 0;
  margin: 0;
  font-family: 'S-CoreDream';
}

p {
  margin-bottom: 0;
}

.topbar {
  height: 80px;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and(max-width: 767px) {
  .topbar {
    height: 4.375rem;
  }
}

.bgc-black {
  background-color: #000;
}

.text-xs {
  font-size: 0.8em;
}

.btn {

  .text {
    white-space: nowrap;
  }
}

// 로그인
.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  .login-logo {
    width: 184px;
    margin: 0 auto;
  }

  .login-txt {
    margin-top: 30px;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  .card {
    max-width: 700px;
    margin: 0 auto;
  }


  .card-body-sub {
    width: 100%;
  }
  
  .chk-remember {
    display: flex;

    .custom-control {
      margin-right: 15px;
    }
  }  

  .form-group-pw {

    .custom-checkbox {
      margin-top: 1rem;
    }    
  }
}

@media screen and (min-width: 768px) {
  .login-wrap {

    .form-group-pw {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .form-control-user {
        width: calc(100% - 130px);
      }
  
      .custom-checkbox {
        margin-top: 0;
      }    
    }
  }
}

#wrapper {
  overflow: hidden;
  height: 100%;
}

#wrapper #content-wrapper #content {
  overflow: hidden;
}

.container-fluid {
  overflow-y: scroll;
  padding: 20px 10px;
}

@media screen and (min-width: 768px) {
  #wrapper #content-wrapper {
    width: calc(100% - 280px);
  }

  .container-fluid {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 20px;
  }
}

// 헤더 사이드네비
.navbar-nav {
  display: block;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  width: 100%;
  min-height: auto;

  &.sidebar {

    .side-top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid #152131;
    }

    .logo {
      display: inline-flex;
      width: 106px;
      height: auto;
      padding: 0;
      text-align: left;
    }

    .side-cont {
      position: relative;
      padding: 20px;

      .user-info {
        overflow: hidden;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.1);
      }

      .info-top {
        padding: 20px;
      }

      .info-img {
        overflow: hidden;
        width: 88px;
        height: 88px;
        margin: 0 auto;
        border-radius: 8px;
        border: 1px solid #525b6b;
      }

      .keywords {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 20px;
        white-space: nowrap;
        color: #cc9d76;
        height: 16px;

        .keyword {
          position: relative;
          margin-right: 5px;
          color: #cc9d76;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          vertical-align: top;

          &:after {
            content: ',';
            color: #cc9d76;
            font-family: 'rokaf-slab';
            font-weight: 500;
            font-size: 14px;
          }

          &:last-child {

            &:after {
              display: none;
            }
          }
        }
      }

      .user-name {
        margin-top: 10px;
        color: #fefefe;
        font-family: 'rokaf-slab';
        font-weight: 500;
        font-size: 22px;
        line-height: 1;
      }

      .belong {
        display: flex;
        margin-top: 10px;

        .belong-text {
          margin-right: 5px;
          color: #939393;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 10px;
          line-height: 1;
        }
      }

      .contacts {
        display: flex;
        margin-top: 12px;

        .chip {
          margin-right: 4px;
          padding: 4px 6px;
          color: #939393;
          font-family: 'rokaf-slab';
          font-weight: 500;
          font-size: 10px;
          line-height: 1;
          border-radius: 4px;
          background-color: #313131;

          &.active {
            color: #fff;
            background-color: #cc9d76;
          }
        }
      }

      .user-menu {
        margin-bottom: 0;
        background-color: #313131;

        li {
          display: flex;
          height: 42px;
          align-items: center;
          padding-left: 16px;
          border-bottom: 1px solid #1a1a1a;

          a {
            position: relative;
            padding-left: 36px;
            color: #939393;
            font-weight: 500;
            font-size: 14px;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              background-size: 100%;
            }

            &.ico1 {

              &:before {
                background-image: url(/assets/img/user-info-menu-ico1.png);
              }
            }

            &.ico2 {

              &:before {
                background-image: url(/assets/img/user-info-menu-ico2.png);
              }
            }

            &.ico3 {

              &:before {
                background-image: url(/assets/img/user-info-menu-ico3.png);
              }
            }
          }
        }
      }

      .side-bar-menu {
        margin-top: 40px;

        ul {
          margin-bottom: 0;
        }

        li {
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: flex;
            align-items: center;
            height: 42px;
            color: #939393;
            font-weight: 500;
            font-size: 16px;
            background: url(/assets/img/Icon-ionic-ios-arrow-forward@2x.png) 100% 50%/6px 11px no-repeat;
          }
        }
      }

      .fixed-menu {
        margin: 50px -20px -20px;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0;

          li {
            width: 50%;
            border-top: 1px solid #313131;

            &:nth-of-type(2n+1) {
              border-right: 1px solid #313131;
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              color: #939393;
              font-weight: 500;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    position: static;
    width: 280px !important;

    &::-webkit-scrollbar {
      width: 7px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
    }
  
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
    }

    &.sidebar {

      &.toggeled {
        overflow-y: auto;
      }
      
      .side-top {
        height: 80px;
      }
  
      .logo {
        width: 212px;
      }
      &.toggled {
        overflow-y: auto;
        width: 280px !important;

        .nav-item .nav-link {
          width: 10rem;
        }        
      }

      .side-cont {
        height: calc(100% - 80px);

        .fixed-menu {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          margin: 0;
  
          ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
  
            li {
              width: 50%;
              border-top: 1px solid #313131;
  
              &:nth-of-type(2n+1) {
                border-right: 1px solid #313131;
              }
  
              a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                color: #939393;
                font-weight: 500;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// top-bar
.topbar {

  &.static-top {

    .user-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      top: 50%;
      right: 1rem;
      max-width: calc(100% - 5rem);
      transform: translateY(-50%);
    }
  
    #sidebarToggleTop {
      z-index: 10;
    }
  }
}

.topbar {

  .company-info {
    display: none;
    color: #939393;
    font-family: 'rokaf-slab';
    font-size: 16px;
  }

  .user-row {

    .img {
      display: none;
      overflow: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .hello-txt {
      color: #000;
      font-size: 12px;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 30px;
      margin-left: 10px;
      border-radius: 8px;
      border: 1px solid #0464f9;

      .text {
        color: #0464f9;
        font-weight: 500;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .topbar {

    .company-info {
      display: block;
    }
  
    .user-row {
      .img {
        display: block;
        width: 48px;
        height: 48px;
      }
  
      .hello-txt {
        margin-left: 20px;
        font-size: 14px;
      }

      .btn {
        width: 84px;
        height: 36px;
        margin-left: 40px;
        border-radius: 8px;
        border: 1px solid #0464f9;
  
        .text {
          font-size: 14px;
        }
      }      
    }
  }
}

.main {

  .chart-wrap {
    width: 100%;
    margin: 0 0.75rem;
  }

  .card-body {

    .count {
      text-align: right;
    }
  }
}

.reponsive-table {
  min-width: auto !important;

  th {
    display: none;
    padding: 10px;
  }
  td {
    display: none;
    padding: 10px;
  }

  .mo-view {
    display: table-cell;
  }
}

.card-body {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .card-body {
    padding: 1.25rem;
  }

  .reponsive-table {

    th {
      display: table-cell;
      padding: 0.75rem;
    }
    td {
      display: table-cell;
      padding: 0.75rem;
    }
  }  
}

.content {
  overflow: hidden;
  height: 100%;
}

.btn-tbl-excel {
  margin-bottom: 10px;
}

#dataTable_wrapper {
  padding-top: 10px;
}

// 회원리스트 테이블
#dataTable {
  border-collapse: collapse !important;

  thead {

    th {
      padding: 0.5rem;
      font-size: 10px;
      border: 1px solid #ddd;
      border-bottom-width: 1px;
      border-bottom-color: #a0a0a0;
    }
  }

  tbody {

    tr {
      cursor: pointer;

      &:nth-of-type(2n+1) {
        background-color: #f7f7f7;
      }

      td {
        font-size: 10px;

        input[type=checkbox] {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .table-bordered td, 
  .table-bordered th {
    border-color: #ddd;
  }
} 

.table {

  &.dataTable {
    min-width: 1500px;
  }

  &.sm {
    min-width: auto;
  }
}

@media screen and (min-width: 768px) {
  #dataTable {
  
    thead {
  
      th {
        font-size: 0.85rem;
      }
    }
  
    tbody {
      tr {
        td {
          font-size: 0.75rem;
        }
      }
    }
  }
}

// 인풋텍스트
.effect-1 {position: relative; width: 100%; height: 100%; border: 0; padding: 7px 0.75rem; border-bottom: 1px solid #ccc;}
.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0.75rem; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;pointer-events:none;}
.effect-1:focus ~ .focus-border{width: calc(100% - 1.5rem);}
.effect-1.is-active ~ .focus-border{width: calc(100% - 1.5rem);}
//.effect-1:valid + .focus-border{width: calc(100% - 1.5rem);}

.effect-1::placeholder {
  font-size: 0;
}

// 인풋라벨
.effect-1 + .inp-label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #787e85;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s;
  opacity: 1;
}

.effect-1:focus + .inp-label {
  top: -10px;
}

.effect-1.is-active + .inp-label {
  top: -10px;
}


// 체크박스
.custom-control-label {
  cursor: pointer;
}

// 댓글
.reply {

  .replay-item {
    margin-bottom: 20px;
  }

  .reply-head {
    display: flex;

    .reply-author {
      margin-right: 10px;
      color: #000;
    }

    .reply-date {
      color: #000;
    }
  }

  .reply-cont {

    .reply-text {
      margin-top: 10px;
      color: #000;
    }
  }

  .reply-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    a {
      margin-left: 10px;
    }
  }

  .reply-admin {
    margin-top: 10px;

    .replay-ad-cont {
      display: flex;
    }

    .replay-ad-label {
      width: 60px;
      color: #000;
    }

    .replay-ad-text {
      width: 100%;
      height: 100px;
      padding: 10px;
      color: #000;
      resize: none;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  }
}

// 폼 그룹
.form-group {

  &.al-c {
    align-items: center;
  }

  .al-c {
    align-items: center;
  }

  .sel-label {
    padding: 0 12px;
    font-size: 14px;
    white-space: nowrap;
  }

  .inp-label {
    margin-bottom: 0;
    padding: 0 12px;
    font-size: 14px;
    white-space: nowrap;

    h6 {
      margin-bottom: 0;
    }
  }

  .inp-label2 {
    margin-bottom: 0;
    font-size: 14px;
    white-space: nowrap;

    h6 {
      margin-bottom: 0;
    }
  }

  .file-list {

    .file-item {
      font-size: 14px;
    }
  }

  .inp-guide-txt {
    color: #ea4335;
  }
}


// 간격

@media screen and (max-width: 575px) {
  .xs-mt-0 {
    margin-top: 0 !important;
  }
  .xs-mb-0 {
    margin-bottom: 0 !important;
  }
}

// 공지상세
.notice-content {
  max-height: 500px;
  overflow-y: auto;
}

// 테이블 버튼
.dt-btn-wrap {
  
  .btn {
    min-width: 80px;
    margin-left: 10px;
  }
}

.card {

  .card-header {
    background-color: #152131;

    h6 {
      color: #fff;
      font-family: 'rokaf-slab';
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
    }
  }
}

@media screen and (min-width: 767px) {

  .card-header {
    height: 60px;

    &.lawyer {
      background-color: #0b2b5c;
    }

    &.da {
      background-color: #003535;
    }

    &.detective {
      background-color: #4c0a15;
    }
  }
}

.btn-primary {
  background-color: #0464f9;
  border-color: #0464f9;

  &.out-line {
    background-color: #fff;

    .text {
      color: #0464f9;
    }
  }

  &:hover {
    background-color: #0464f9;
    border-color: #0464f9;
  }
}

.custom-checkbox {

  .custom-control-label {

    &:before {
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  
    &:after {
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
  }
}

.bg-login {
  background: url($img + 'login_bg.png') 0/cover;
}

.btn-login {
  color: #FEFEFE;
  background-color: #CC9D76;
}

h1.h3 {
  color: #000;
  font-family: 'rokaf-slab';
  font-weight: 500;
  line-height: 1;
}

@media screen and (min-width: 767px) {
  h1.h3 {
    font-size: 24px;
  }
}

@media screen and (min-width: 767px) {

  h1.h3 {

    & + .card {
      margin-top: 20px;
    }
  }
}

.customer-center-container {
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e6e6e6;
  background-color: #fff;

  .col-info {
    padding: 40px 20px;

    .txt1 {
      color: #000;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
    }

    .txt2 {
      margin-top: 10px;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
    }

    .call-num {
      margin-top: 40px;
      text-align: center;

      a {
        display: inline-flex;
        color: #000;
        font-family: 'rokaf-slab';
        font-weight: 700;
        font-size: 30px;
        line-height: 1;
      }
    }

    .menu-ask {
      margin-top: 40px;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #152131;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #e6e6e6;
        background-color: #f1f2f5;
      }
    }

    .info-guide {
      margin-top: 40px;

      .guide-txt1 {
        color: #cc9d76;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.36;
      }

      .guide-txt2 {
        margin-top: 10px;

        span {
          display: block;
          position: relative;
          color: #313131;
          font-weight: 500;
          font-size: 14px;
        }
      }

      .guide-txt3 {
        margin-top: 10px;
        color: #313131;
        font-size: 14px;
        line-height: 1.44;
      }
    }
  }

  .col-poster {
    background-color: #94c5e0;
  }
}

@media screen and (min-width: 767px) {

  .customer-center-container {
    display: flex;
    flex-wrap: wrap;

    .col-info {
      width: 545px;
      padding: 80px 40px;
  
      .txt1 {
        font-size: 28px;
      }
  
      .txt2 {
        margin-top: 20px;
        font-size: 16px;
      }
  
      .call-num {
        margin-top: 80px;
  
        a {
          font-weight: 700;
          font-size: 48px;
        }
      }
  
      .menu-ask {
        margin-top: 80px;
  
        li {
          margin-bottom: 20px;
        }
  
        a {
          height: 80px;
          font-size: 22px;
        }
      }
  
      .info-guide {
        margin-top: 140px;
  
        .guide-txt1 {
          font-size: 22px;
        }
  
        .guide-txt2 {
          margin-top: 20px;
  
          span {
            display: inline-flex;
            position: relative;
            font-size: 16px;

            & + span {
              margin-left: 30px;

              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -16px;
                width: 1px;
                height: 16px;
                background-color: #313131;
                transform: translteY(-50%);
              }
            }
          }
        }
  
        .guide-txt3 {
          font-size: 16px;
        }
      }
    }    

    .col-poster {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% - 545px);

      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_filter label {
    max-width: 100vw !important;
  }
}