.text-xs {
  font-size: 0.8em;
}

.btn {

  .text {
    white-space: nowrap;
  }
}

// 로그인
.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  .login-logo {
    width: 184px;
    margin: 0 auto;
  }

  .login-txt {
    margin-top: 30px;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  .card {
    max-width: 700px;
    margin: 0 auto;
  }

  .card-body-sub {
    width: 100%;
  }
  
  .chk-remember {
    display: flex;

    .custom-control {
      margin-right: 15px;
    }
  }  

  .form-group-pw {

    .custom-checkbox {
      margin-top: 1rem;
    }    
  }
}

@media screen and (min-width: 768px) {
  .login-wrap {

    .form-group-pw {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .form-control-user {
        width: calc(100% - 130px);
      }
  
      .custom-checkbox {
        margin-top: 0;
      }    
    }
  }
}

#wrapper {
  overflow: hidden;
  height: 100%;
}

#wrapper #content-wrapper #content {
  overflow: hidden;
}

.container-fluid {
  overflow-y: scroll;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 20px;
  }
}

// 헤더 사이드네비
.navbar-nav {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  &.sidebar {

    .logo {
      text-align: left;
      max-width: 184px;
    }
  
    .sidebar-heading {
      color: #fff;
      font-weight: normal;
      font-size: 1.2rem;
      text-align: left;
      padding: 0 0.5rem;
    }
  
    .nav-item {
      text-align: left;

      &:hover,
      &.active {

        .nav-link {

          span {
            font-weight: 700;
          }
        }
      }
  
      .nav-link {
        width: 100%;
        padding: 0.5rem 0.5rem;
        text-align: left;
  
        span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    position: static;

    &.sidebar {

      &.toggeled {
        overflow-y: auto;
      }

      .logo {
        width: 90%;
      }

      .sidebar-heading {
        padding: 0 1rem;
      }

      .nav-item .nav-link {
        padding: 0.5rem 1rem;
      }
      
      &.toggled {
        overflow-y: auto;
        width: 15rem !important;

        .nav-item .nav-link {
          width: 10rem;
        }        
      }
    }
  }
}

// top-bar
.topbar {

  &.static-top {

    .user-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 1rem;
      max-width: calc(100% - 5rem);
      transform: translateY(-50%);
  
      .btn {
        margin-left: 1rem;
        font-size: 1rem;

        .text {
          white-space: nowrap;
        }
      }
    }
  
    #sidebarToggleTop {
      z-index: 10;
    }
  }
}



.topbar {

  .hello-txt {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .topbar {

    .hello-txt {
      font-size: 1rem;
    }
  }
}

.main {

  .chart-wrap {
    width: 100%;
    margin: 0 0.75rem;
  }

  .card-body {

    .count {
      text-align: right;
    }
  }
}

.content {
  overflow: hidden;
  height: 100%;
}

.btn-tbl-excel {
  margin-bottom: 10px;
}

// 회원리스트 테이블
#dataTable {

  thead {

    th {
      padding: 0.5rem;
      font-size: 0.85rem;
    }
  }

  tbody {

    tr {
      cursor: pointer;

      td {
        font-size: 0.75rem;
      }
    }
  }

} 

.table {

  &.dataTable {
    min-width: 1500px;
  }
}

// 인풋텍스트
.effect-1 {width: 100%; height: 100%; border: 0; padding: 7px 0.75rem; border-bottom: 1px solid #ccc;}
.effect-1 + .focus-border{position: absolute; bottom: 0; left: 0.75rem; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;pointer-events:none;}
.effect-1:focus + .focus-border{width: calc(100% - 1.5rem);}
.effect-1.is-active + .focus-border{width: calc(100% - 1.5rem);}
//.effect-1:valid + .focus-border{width: calc(100% - 1.5rem);}

// 체크박스
.custom-control-label {
  cursor: pointer;
}

.card {

  .date-row {
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  
    .btn {
      height: 40px;
      margin-right: 20px;
      padding: 25px;
      white-space: nowrap;
  
      &.active {
        color: #fff;
        background: orange;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .time-row {
    flex-wrap: wrap;
  
    .btn {
      height: 40px;
      margin-right: 20px;
      white-space: nowrap;
  
      &.active {
        color: orange;
        border: 2px solid orange;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .upload-img {
    width: 50px;
    color: #000;
  }
}

// 댓글
.reply {

  .replay-item {
    margin-bottom: 20px;
  }

  .reply-head {
    display: flex;

    .reply-author {
      margin-right: 10px;
      color: #000;
    }

    .reply-date {
      color: #000;
    }
  }

  .reply-cont {

    .reply-text {
      margin-top: 10px;
      color: #000;
    }
  }

  .reply-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    a {
      margin-left: 10px;
    }
  }

  .reply-admin {
    margin-top: 10px;

    .replay-ad-cont {
      display: flex;
    }

    .replay-ad-label {
      width: 60px;
      color: #000;
    }

    .replay-ad-text {
      width: 100%;
      height: 100px;
      padding: 10px;
      color: #000;
      resize: none;
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  }
}

// 폼 그룹
.form-group {

  &.al-c {
    align-items: center;
  }

  .al-c {
    align-items: center;
  }

  .sel-label {
    padding: 0 12px;
    font-size: 14px;
    white-space: nowrap;
  }

  .inp-label {
    margin-bottom: 0;
    padding: 0 12px;
    font-size: 14px;
    white-space: nowrap;
  }

  .file-list {

    .file-item {
      font-size: 14px;
    }
  }

  .inp-guide-txt {
    color: #ea4335;
  }
}


// 간격

@media screen and (max-width: 575px) {
  .xs-mt-0 {
    margin-top: 0 !important;
  }
  .xs-mb-0 {
    margin-bottom: 0 !important;
  }
}