.text-xs {
  font-size: 0.8em;
}

.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.login-wrap .login-logo {
  width: 184px;
  margin: 0 auto;
}

.login-wrap .login-txt {
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.login-wrap .card {
  max-width: 700px;
  margin: 0 auto;
}

.login-wrap .card-body-sub {
  width: 100%;
}

.login-wrap .chk-remember {
  display: flex;
}

.login-wrap .chk-remember .custom-control {
  margin-right: 15px;
}

.login-wrap .form-group-pw .custom-checkbox {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .login-wrap .form-group-pw {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-wrap .form-group-pw .form-control-user {
    width: calc(100% - 130px);
  }
  .login-wrap .form-group-pw .custom-checkbox {
    margin-top: 0;
  }
}

#wrapper {
  overflow: hidden;
  height: 100%;
}

#wrapper #content-wrapper #content {
  overflow: hidden;
}

.container-fluid {
  overflow-y: scroll;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 20px;
  }
}

.navbar-nav {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.navbar-nav::-webkit-scrollbar {
  width: 7px;
}

.navbar-nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-nav::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.navbar-nav.sidebar .logo {
  text-align: left;
  max-width: 184px;
}

.navbar-nav.sidebar .sidebar-heading {
  color: #fff;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: left;
  padding: 0 0.5rem;
}

.navbar-nav.sidebar .nav-item {
  text-align: left;
}

.navbar-nav.sidebar .nav-item:hover .nav-link span, .navbar-nav.sidebar .nav-item.active .nav-link span {
  font-weight: 700;
}

.navbar-nav.sidebar .nav-item .nav-link {
  width: 100%;
  padding: 0.5rem 0.5rem;
  text-align: left;
}

.navbar-nav.sidebar .nav-item .nav-link span {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    position: static;
  }
  .navbar-nav.sidebar.toggeled {
    overflow-y: auto;
  }
  .navbar-nav.sidebar .logo {
    width: 90%;
  }
  .navbar-nav.sidebar .sidebar-heading {
    padding: 0 1rem;
  }
  .navbar-nav.sidebar .nav-item .nav-link {
    padding: 0.5rem 1rem;
  }
  .navbar-nav.sidebar.toggled {
    width: 15rem !important;
  }
  .navbar-nav.sidebar.toggled .nav-item .nav-link {
    width: 10rem;
  }
}

.topbar.static-top .user-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 1rem;
  max-width: calc(100% - 5rem);
  transform: translateY(-50%);
}

.topbar.static-top .user-row .btn {
  margin-left: 1rem;
  font-size: 1rem;
}

.topbar.static-top .user-row .btn .text {
  white-space: nowrap;
}

.topbar.static-top #sidebarToggleTop {
  z-index: 10;
}

.topbar .hello-txt {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .topbar .hello-txt {
    font-size: 1rem;
  }
}

.main .chart-wrap {
  width: 100%;
  margin: 0 0.75rem;
}

.main .card-body .count {
  text-align: right;
}

.content {
  overflow: hidden;
  height: 100%;
}

.btn-tbl-excel {
  margin-bottom: 10px;
}

#dataTable tr {
  cursor: pointer;
}

.table.dataTable {
  min-width: 1500px;
}

.effect-1 {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 7px 0.75rem;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0.75rem;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: calc(100% - 1.5rem);
}
