* {
  padding: 0;
  margin: 0;
  font-family: 'S-CoreDream';
}

.topbar {
  height: 80px;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 767px) {
  .topbar {
    height: 4.375rem;
  }
}

.bgc-black {
  background-color: #000;
}

.text-xs {
  font-size: 0.8em;
}

.btn .text {
  white-space: nowrap;
}

.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.login-wrap .login-logo {
  width: 184px;
  margin: 0 auto;
}

.login-wrap .login-txt {
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.login-wrap .card {
  max-width: 700px;
  margin: 0 auto;
}

.login-wrap .card-body-sub {
  width: 100%;
}

.login-wrap .chk-remember {
  display: flex;
}

.login-wrap .chk-remember .custom-control {
  margin-right: 15px;
}

.login-wrap .form-group-pw .custom-checkbox {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .login-wrap .form-group-pw {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-wrap .form-group-pw .form-control-user {
    width: calc(100% - 130px);
  }
  .login-wrap .form-group-pw .custom-checkbox {
    margin-top: 0;
  }
}

#wrapper {
  overflow: hidden;
  height: 100%;
}

#wrapper #content-wrapper #content {
  overflow: hidden;
}

.container-fluid {
  overflow-y: scroll;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #wrapper #content-wrapper {
    width: calc(100% - 280px);
  }
  .container-fluid {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 20px;
  }
}

.navbar-nav {
  display: block;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  width: 100%;
  min-height: auto;
}

.navbar-nav.sidebar .side-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #152131;
}

.navbar-nav.sidebar .logo {
  display: inline-flex;
  width: 106px;
  height: auto;
  padding: 0;
  text-align: left;
}

.navbar-nav.sidebar .side-cont {
  position: relative;
  padding: 20px;
}

.navbar-nav.sidebar .side-cont .user-info {
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav.sidebar .side-cont .info-top {
  padding: 20px;
}

.navbar-nav.sidebar .side-cont .info-img {
  overflow: hidden;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #525b6b;
}

.navbar-nav.sidebar .side-cont .keywords {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
  white-space: nowrap;
  color: #cc9d76;
  height: 16px;
}

.navbar-nav.sidebar .side-cont .keywords .keyword {
  position: relative;
  margin-right: 5px;
  color: #cc9d76;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
}

.navbar-nav.sidebar .side-cont .keywords .keyword:after {
  content: ',';
  color: #cc9d76;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 14px;
}

.navbar-nav.sidebar .side-cont .keywords .keyword:last-child:after {
  display: none;
}

.navbar-nav.sidebar .side-cont .user-name {
  margin-top: 10px;
  color: #fefefe;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
}

.navbar-nav.sidebar .side-cont .belong {
  display: flex;
  margin-top: 10px;
}

.navbar-nav.sidebar .side-cont .belong .belong-text {
  margin-right: 5px;
  color: #939393;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
}

.navbar-nav.sidebar .side-cont .contacts {
  display: flex;
  margin-top: 12px;
}

.navbar-nav.sidebar .side-cont .contacts .chip {
  margin-right: 4px;
  padding: 4px 6px;
  color: #939393;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  border-radius: 4px;
  background-color: #313131;
}

.navbar-nav.sidebar .side-cont .contacts .chip.active {
  color: #fff;
  background-color: #cc9d76;
}

.navbar-nav.sidebar .side-cont .user-menu {
  margin-bottom: 0;
  background-color: #313131;
}

.navbar-nav.sidebar .side-cont .user-menu li {
  display: flex;
  height: 42px;
  align-items: center;
  padding-left: 16px;
  border-bottom: 1px solid #1a1a1a;
}

.navbar-nav.sidebar .side-cont .user-menu li a {
  position: relative;
  padding-left: 36px;
  color: #939393;
  font-weight: 500;
  font-size: 14px;
}

.navbar-nav.sidebar .side-cont .user-menu li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.navbar-nav.sidebar .side-cont .user-menu li a.ico1:before {
  background-image: url(/assets/img/user-info-menu-ico1.png);
}

.navbar-nav.sidebar .side-cont .user-menu li a.ico2:before {
  background-image: url(/assets/img/user-info-menu-ico2.png);
}

.navbar-nav.sidebar .side-cont .user-menu li a.ico3:before {
  background-image: url(/assets/img/user-info-menu-ico3.png);
}

.navbar-nav.sidebar .side-cont .side-bar-menu {
  margin-top: 40px;
}

.navbar-nav.sidebar .side-cont .side-bar-menu ul {
  margin-bottom: 0;
}

.navbar-nav.sidebar .side-cont .side-bar-menu li {
  margin-bottom: 4px;
}

.navbar-nav.sidebar .side-cont .side-bar-menu li:last-child {
  margin-bottom: 0;
}

.navbar-nav.sidebar .side-cont .side-bar-menu li a {
  display: flex;
  align-items: center;
  height: 42px;
  color: #939393;
  font-weight: 500;
  font-size: 16px;
  background: url(/assets/img/Icon-ionic-ios-arrow-forward@2x.png) 100% 50% / 6px 11px no-repeat;
}

.navbar-nav.sidebar .side-cont .fixed-menu {
  margin: 50px -20px -20px;
}

.navbar-nav.sidebar .side-cont .fixed-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.navbar-nav.sidebar .side-cont .fixed-menu ul li {
  width: 50%;
  border-top: 1px solid #313131;
}

.navbar-nav.sidebar .side-cont .fixed-menu ul li:nth-of-type(2n+1) {
  border-right: 1px solid #313131;
}

.navbar-nav.sidebar .side-cont .fixed-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #939393;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    position: static;
    width: 280px !important;
  }
  .navbar-nav::-webkit-scrollbar {
    width: 7px;
  }
  .navbar-nav::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  .navbar-nav::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  .navbar-nav.sidebar.toggeled {
    overflow-y: auto;
  }
  .navbar-nav.sidebar .side-top {
    height: 80px;
  }
  .navbar-nav.sidebar .logo {
    width: 212px;
  }
  .navbar-nav.sidebar.toggled {
    overflow-y: auto;
    width: 280px !important;
  }
  .navbar-nav.sidebar.toggled .nav-item .nav-link {
    width: 10rem;
  }
  .navbar-nav.sidebar .side-cont {
    height: calc(100% - 80px);
  }
  .navbar-nav.sidebar .side-cont .fixed-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .navbar-nav.sidebar .side-cont .fixed-menu ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .navbar-nav.sidebar .side-cont .fixed-menu ul li {
    width: 50%;
    border-top: 1px solid #313131;
  }
  .navbar-nav.sidebar .side-cont .fixed-menu ul li:nth-of-type(2n+1) {
    border-right: 1px solid #313131;
  }
  .navbar-nav.sidebar .side-cont .fixed-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #939393;
    font-weight: 500;
    font-size: 12px;
  }
}

.topbar.static-top .user-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  right: 1rem;
  max-width: calc(100% - 5rem);
  transform: translateY(-50%);
}

.topbar.static-top #sidebarToggleTop {
  z-index: 10;
}

.topbar .company-info {
  display: none;
  color: #939393;
  font-family: 'rokaf-slab';
  font-size: 16px;
}

.topbar .user-row .img {
  display: none;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.topbar .user-row .hello-txt {
  color: #000;
  font-size: 12px;
}

.topbar .user-row .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #0464f9;
}

.topbar .user-row .btn .text {
  color: #0464f9;
  font-weight: 500;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .topbar .company-info {
    display: block;
  }
  .topbar .user-row .img {
    display: block;
    width: 48px;
    height: 48px;
  }
  .topbar .user-row .hello-txt {
    margin-left: 20px;
    font-size: 14px;
  }
  .topbar .user-row .btn {
    width: 84px;
    height: 36px;
    margin-left: 40px;
    border-radius: 8px;
    border: 1px solid #0464f9;
  }
  .topbar .user-row .btn .text {
    font-size: 14px;
  }
}

.main .chart-wrap {
  width: 100%;
  margin: 0 0.75rem;
}

.main .card-body .count {
  text-align: right;
}

.content {
  overflow: hidden;
  height: 100%;
}

.btn-tbl-excel {
  margin-bottom: 10px;
}

#dataTable thead th {
  padding: 0.5rem;
  font-size: 0.85rem;
}

#dataTable tbody tr {
  cursor: pointer;
}

#dataTable tbody tr td {
  font-size: 0.75rem;
}

.table.dataTable {
  min-width: 1500px;
}

.table.sm {
  min-width: auto;
}

.effect-1 {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 7px 0.75rem;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0.75rem;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
  pointer-events: none;
}

.effect-1:focus ~ .focus-border {
  width: calc(100% - 1.5rem);
}

.effect-1.is-active ~ .focus-border {
  width: calc(100% - 1.5rem);
}

.effect-1::placeholder {
  font-size: 0;
}

.effect-1 + .inp-label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #787e85;
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s;
  opacity: 1;
}

.effect-1:focus + .inp-label {
  top: -10px;
}

.effect-1.is-active + .inp-label {
  top: -10px;
}

.custom-control-label {
  cursor: pointer;
}

.card .date-row {
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.card .date-row .btn {
  height: 40px;
  margin-right: 20px;
  padding: 25px;
  white-space: nowrap;
}

.card .date-row .btn.active {
  color: #fff;
  background: orange;
}

.card .date-row .btn:focus {
  box-shadow: none;
}

.card .time-row {
  flex-wrap: wrap;
}

.card .time-row .btn {
  height: 40px;
  margin-right: 20px;
  white-space: nowrap;
}

.card .time-row .btn.active {
  color: orange;
  border: 2px solid orange;
}

.card .time-row .btn:focus {
  box-shadow: none;
}

.card .upload-img {
  width: 50px;
  color: #000;
}

.reply .replay-item {
  margin-bottom: 20px;
}

.reply .reply-head {
  display: flex;
}

.reply .reply-head .reply-author {
  margin-right: 10px;
  color: #000;
}

.reply .reply-head .reply-date {
  color: #000;
}

.reply .reply-cont .reply-text {
  margin-top: 10px;
  color: #000;
}

.reply .reply-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.reply .reply-btn a {
  margin-left: 10px;
}

.reply .reply-admin {
  margin-top: 10px;
}

.reply .reply-admin .replay-ad-cont {
  display: flex;
}

.reply .reply-admin .replay-ad-label {
  width: 60px;
  color: #000;
}

.reply .reply-admin .replay-ad-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  color: #000;
  resize: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.form-group.al-c {
  align-items: center;
}

.form-group .al-c {
  align-items: center;
}

.form-group .sel-label {
  padding: 0 12px;
  font-size: 14px;
  white-space: nowrap;
}

.form-group .inp-label {
  margin-bottom: 0;
  padding: 0 12px;
  font-size: 14px;
  white-space: nowrap;
}

.form-group .inp-label h6 {
  margin-bottom: 0;
}

.form-group .inp-label2 {
  margin-bottom: 0;
  font-size: 14px;
  white-space: nowrap;
}

.form-group .inp-label2 h6 {
  margin-bottom: 0;
}

.form-group .file-list .file-item {
  font-size: 14px;
}

.form-group .inp-guide-txt {
  color: #ea4335;
}

@media screen and (max-width: 575px) {
  .xs-mt-0 {
    margin-top: 0 !important;
  }
  .xs-mb-0 {
    margin-bottom: 0 !important;
  }
}

.notice-content {
  max-height: 500px;
  overflow-y: auto;
}

.dt-btn-wrap .btn {
  min-width: 80px;
  margin-left: 10px;
}

.card .card-header {
  background-color: #152131;
}

.card .card-header h6 {
  color: #fff;
  font-family: 'rokaf-slab';
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

@media screen and (min-width: 767px) {
  .card-header {
    height: 60px;
  }
  .card-header.lawyer {
    background-color: #0b2b5c;
  }
  .card-header.da {
    background-color: #003535;
  }
  .card-header.detective {
    background-color: #4c0a15;
  }
}
