@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream1'),
       url('../fonts/S-CoreDream-1Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream2'),
       url('../fonts/S-CoreDream-2ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream3'),
       url('../fonts/S-CoreDream-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream4'),
       url('../fonts/S-CoreDream-4Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream5'),
       url('../fonts/S-CoreDream-5Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream6'),
       url('../fonts/S-CoreDream-6Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream7'),
       url('../fonts/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream8'),
       url('../fonts/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  src: local('SCDream9'),
       url('../fonts/S-CoreDream-9Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'air-medium';
  src: url('../fonts/airMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'air-bold';
  src: url('../fonts/airBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'play-regular';
  src: url('../fonts/Play-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'play-bold';
  src: url('../fonts/Play-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'rokaf-slab';
  src: url('../fonts/ROKAF-Slab-Serif-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rokaf-slab';
  src: url('../fonts/ROKAF-Slab-Serif-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

